<div class="container">
  <div class="listing">
    <div class="listing__edit">
      <h1>Editing...</h1>
      <small>(<%= @listing.title %>)</small>

      <%= render "form", listing: @listing %>
    </div>
    </div>
</div>