* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: var(--brand-font);
    font-optical-sizing: auto;
    font-weight: var(--brand-font-weight);
    font-style: normal;
    line-height: var(--brand-line-height);
}

body {
    position: relative;
    margin: 0;
    min-height: 100%;
    color: var(--black-olive);
    display: flex;
    flex-direction: column;
}

.small-container {
    width: 92%;
    max-width: 498px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 92%;
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}

.wide-container {
    width: 92%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.widest-container {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}