.listing {
    margin-top: 2rem;

    .listing__edit {
        h1 {
            margin-bottom: 0.25rem;
        }

        small {
            display: block;
            margin-bottom: 1.5rem;
            color: var(--gray);
        }
    }

    .list-images {
        .list-image {
            display: block;
            width: 100%;
        }
    }
}

@media screen and (min-width: 640px) {
    .listing {
        margin-top: 3.5rem;
    }
}

@media screen and (min-width: 768px) {
    .listing {
        margin-top: 5rem;
    }
}

@media screen and (min-width: 1024px) {
    .listing {
        margin-top: 7.2rem;
    }
}