nav {
    background-color: var(--primary-color);
    padding: 1.5rem;

    svg {
        max-width: 160px;
    }

    a {
        color: white;
        display: inline-block;
        height: fit-content;
        text-decoration: none;
        text-underline-offset: 3px;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    .nav-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.75rem;
        flex-wrap: wrap;
    }
}
