<div style="font-family: Helvetica, Arial, sans-serif">
  <%= render "devise/shared/logo" %>
  <p style="font-size: 16px;">Hello <%= @resource.email %>!</p>

  <p style="font-size: 14px; line-height: 1.5;">Someone has requested a link to
    change your password. You can do this through the button below.</p>

  <p style="margin: 20px 0;">
    <a href="<%= edit_password_url(@resource, reset_password_token: @token) %>"
       style="display: inline-block; background-color: #007bff; color: #ffffff; text-decoration: none; padding: 12px 20px; border-radius: 5px; font-size: 16px;">
      Change My Password</a></p>

  <p style="font-size: 14px; line-height: 1.5;">If you didn’t request this,
    please ignore this email. Your password won’t
    change unless you follow the link above and create a new password.</p>

  <p style="margin-top: 20px;">Best regards,</p>
  <p>Nexus inc.</p>

  <p style="font-size: 12px; color: #777; margin-top: 20px;">&copy <%= Time.now.year %>
    Nexus inc. All rights reserved.</p>
</div>
